	table.ba-listing
	{
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;

		tr {
			th {
				text-align: left;
				font-weight: normal;
				color: #fff;
				border-bottom: 1px dotted #999;
				padding: 5px;

				&[data-sort] {
					cursor: pointer;
					> i	{
						margin-left: 10px;
						color: #444;
						display: none;
					}
					&.sorting {
						color: $themeBlue;

						> i {
							color: $themeBlue;
							display: inline;
						}
					}
				}
			}

			td {
				text-align: left;
				font-weight: normal;
				color: #ddd;
				border-bottom: 1px dotted rgba(80, 80, 80, 0.9);
				padding: 5px;

				a {
					color: #ddd;
				}

				a:hover {
					color: $themeBlue;
				}
			}

			td.thumbnail
			{
				img {
					width: 34px;
					border: 2px solid #fff;
					border-radius: 3px;
				}
			}
		}

		tr:last-child {
			td {
				border-bottom: none;
			}
		}
	}

	.btn {
		text-transform: none;
		height: 42px;
		line-height: 42px;

		&.default {
			background:rgba(80, 80, 80, 0.7);
			color: #999;
			i {
				color: #999;
			}
		}
	}

	.btn-floating
	{
		&.btn-medium
		{
			width: 44px;
			height: 44px;
			line-height: 44px;

		 	i {
			    line-height: 44px;
			    font-size: 20px;
			}
		}

		&.default {
			background:rgba(80, 80, 80, 0.7);
			color: #999;
			i {
				color: #999;
			}
		}
	}

	.btn-large {
		font-size: 18px;
		letter-spacing: 0px !important;

		i {
			font-size: 18px;
		}
	}

	.btn-icon-sm {
	    border-radius: 12px;
	    width: 24px;
	    line-height: 24px;
	    vertical-align: middle;
	    height: 24px;
	    padding: 0;
	    text-align: center;

	    i {
	    	font-size: 16px;
	    }

	    &:hover {
	      color: #fff;

	      i {
	        color: #fff;
	      }
	    }
	}

	.ba-image-listing-select
	{
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: block;
		overflow: hidden;
		text-align: center;

		li {
			list-style: none;
			display: inline-block;
			margin: 10px;

			a {
				color: #fff;
				width: 200px;
				display: block;
				outline: none;
				position: relative;

				.selected {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					padding: 50px 0;
					text-align: center;
					display: none;

					i {
						font-size: 100px;
					}
				}

				&.active {
					.selected {
						display: block;
					}

					img {
						background: #eee;
					}
				}

				img {
					background: #888;
					border-radius: 5px;
					padding: 10px;
				}

				&:hover {
					img {
						background: #eee;
					}
				}
			}
		}
	}

	.dd {

		.dd-control {
			height: 24px;
	    	line-height: 24px;
	    	padding: 0 10px !important;
	    	margin: 7px !important;

			i {
				font-size: 12px;
				line-height: 12px;
				margin:0;
			}
		}
	}

	[data-removable-container] {
		[data-removing-hide] {
			display: block;
		}
		[data-removing-show] {
			display: none;
		}

		&[data-removing] {
			[data-removing-hide] {
				display: none;
			}
			[data-removing-show] {
				display: block;
			}
			[data-removable]
			{
				cursor: pointer;
				position: relative;
				-webkit-transition-duration: 0.3s;
			    -moz-transition-duration: 0.3s;
			    transition-duration: 0.3s;
			    -webkit-transition-timing-function: ease-in;
			    -moz-transition-timing-function: ease-in;
			    transition-timing-function: ease-in;

				.check-icon {
					position: absolute;
					top: 20px;
					left: 20px;
					color: #fff;
					opacity: 0.4;
					font-size: 34px;
					line-height: 34px;
					display: block;
				}

				&.checked {
					border: 15px  solid $themeRed;

					.check-icon {
						opacity: 1;
						color: $themeRed;
					}
				}
			}
		}
	}