* {
    box-sizing: border-box;
}

.ba-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(20,20,20,0.9);
	display: none;
	z-index: 11900;
	overflow: auto;
	color: #fff;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	.ba-top-loader
	{
		width: 100%;
		height: 5px;
		position: fixed;
		top: 0;

		> .progress
		{
			margin-top: 0;
			background-color: color('blue', 'lighten-2');

			> .indeterminate
			{
				background-color: color('blue', 'base');
			}
		}
	}

	::selection {
		background: $themePink;
	}

	h1,h2,h3,h4,h5
	{
		font-weight: 600;
	}

	hr {
		background: #fff;
		height: 1px;
		border: none;

		&.spacer {
			height: 1px;
			background: transparent;
			margin: 30px 0;
		}

		&.subtle {
			background: none;
			border-bottom: 1px dotted rgba(80, 80, 80, 0.7) !important;
			height: 0;
			margin: 10px 0;

			&.spaced
			{
				margin: 30px 0;
			}
		}
	}

	input:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
	}

	.ba-wrapper {
		padding: 40px 0 40px 86px;
		color: #fff;
	}

	.bear-loader
	{
		.sk-child:before {
			background: $themeBlue;
		}

		&.white {
			.sk-child:before {
				background: #fff;
			}
		}

		&:not(.static)
		{
			display: none;
		}
	}

	.close-and-exit {
		display: inline-block;
	}

	.close-and-refresh {
		display: none;
	}

	&.bear-needs-refresh
	{
		.close-and-exit {
			display: none;
		}
		.close-and-refresh {
			display: inline-block;
		}
	}

	.page-heading {
		margin-top: 0;
		margin-bottom: 0;
	}

	button:focus, a:focus {
		outline: none !important;
	}

	.gigantic {
		font-size: 100px;
	}

	.gigantic-more {
		font-size: 150px;
	}

	.on-error-show
	{
		display: none;
	}

	.ba-controls {
		display: block;
		top: 30px;
		right: 50px;
		position: fixed;
	}

	.ba-pagination {
		border-radius: 0;
		margin: 0;
		padding: 0;
	}
	.ba-pagination > li {
		margin: 0 2px;
		display: inline-block;
		vertical-align: top;
	}
	.ba-pagination > li > a,
	.ba-pagination > li > span {
		border-radius: 3px;
		background: rgba(80, 80, 80, 0.5);
		padding: 7px 0;
		width: 30px;
		display: block;
		text-align: center;
		font-size: 16px;
		z-index: 1;
		position: relative;
		cursor: pointer;
		color: #fff;
	}
	.ba-pagination > li.active > a,
	.ba-pagination > li.active > span {
		color: $themeBlue;
	}
	.ba-pagination > li.disabled > a,
	.ba-pagination > li.disabled > span {
		background: rgba(80, 80, 80, 0.8);
		color: #656565;
	}
}
