@import "bower_components/pikaday/scss/pikaday";

.tooltipster-punk {
	border-radius: 5px; 
	border-bottom: 3px solid #f71169;
	background: #f71169;
	color: #fff;
}
.tooltipster-punk .tooltipster-content {
	font-family: 'Courier', monospace;
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	padding: 8px 10px;
}

.tooltipster-punk-dark {
	border-radius: 5px; 
	border-bottom: 3px solid #000;
	background: #000;
	color: #fff;
}
.tooltipster-punk-dark .tooltipster-content {
	font-family: 'Courier', monospace;
	font-size: 16px;
	line-height: 16px;
	padding: 8px 10px;
}
@-moz-keyframes three-quarters-loader {
    0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes three-quarters-loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes three-quarters-loader {
    0% {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* :not(:required) hides this rule from IE9 and below */
  .three-quarters-loader:not(:required) {
    -moz-animation: three-quarters-loader 1250ms infinite linear;
    -webkit-animation: three-quarters-loader 1250ms infinite linear;
    animation: three-quarters-loader 1250ms infinite linear;
    border: 4px solid #fff;
    border-right-color: transparent;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
  }

  .three-quarters-loader.blue:not(:required) {
    border: 4px solid #41c3dc;
    border-right-color: #fff;
  }
  .sk-circle {
    margin: 11px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #000;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

  @-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  @keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .dd { position: relative; display: block; margin: 0; padding: 0 10px; list-style: none !important; font-size: 13px; line-height: 20px; }

  .dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none !important; color: $themeBlue; }
  .dd-list .dd-list { padding-left: 30px; }
  .dd-collapsed .dd-list { display: none; }

  .dd-list > li:before {
      content:none;
  }

  .dd-item,
  .dd-empty,
  .dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; cursor: default; }

  .dd-update-btn {
    margin: 7px !important;
    padding: 3px 10px !important;
    float: right !important;
    display: block !important;
  }

  .dd-new {
     display: block; position: relative; margin: 0; padding: 5px 10px; min-height: 20px; 
     color: #bbb !important;
     border: 1px dashed #555;
     outline: none;
     width: 100%;
     text-align: left;
     font-size: 14px;
      line-height: 22px;
      background: rgba(80, 80, 80, 0.5);
      -webkit-border-radius: 3px;
              border-radius: 3px;
      box-sizing: border-box; -moz-box-sizing: border-box;

      i {
        font-size: 12px;
      }
  }

  .dd-update-btn:hover {
    background: $themePink !important;
  }

  .dd-handle { display: block; margin: 5px 0; padding: 8px 15px; color: #fff; text-decoration: none; font-weight: normal; 
      font-size: 14px;
      line-height: 22px;
      background: rgba(80, 80, 80, 0.5);
      -webkit-border-radius: 3px;
              border-radius: 3px;
      box-sizing: border-box; -moz-box-sizing: border-box;
  }


  .dd-handle:hover { color: #fff; background: $themeBlue; }

  .dd-item.active {
    .dd-handle {
      background: $themeBlue !important;
    }
  }

  .collapse-toggle {
    margin: 7px !important;
    padding: 3px 10px !important;
    float: left !important;
  }

 
  .dd-placeholder,
  .dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background-color: rgba(150, 150, 150, 0.5); border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
  .dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: rgba(150, 150, 150, 0.5);
      background-size: 60px 60px;
      background-position: 0 0, 30px 30px;
  }

  .dd-dragel { position: absolute; pointer-events: none; z-index: 9999;
    button
    {
      display: none;
    }

    .popover-template
    {
      display: none;
    }
   }
  .dd-dragel > .dd-item .dd-handle { margin-top: 0; }
  .dd-dragel .dd-handle {
      -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
              box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
  }

  /**
   * Nestable Extras
   */

  .nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

  #nestable-menu { padding: 0; margin: 20px 0; }

  #nestable-output,
  #nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

  #nestable2 .dd-handle {
      color: #fff;
      border: 1px solid #999;
      background: #bbb;
      background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
      background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
      background:         linear-gradient(top, #bbb 0%, #999 100%);
  }
  #nestable2 .dd-handle:hover { background: #bbb; }
  #nestable2 .dd-item > button:before { color: #fff; }

  @media only screen and (min-width: 700px) {

      .dd { float: left; width: 48%; }
      .dd + .dd { margin-left: 2%; }

  }

  .dd-hover > .dd-handle { background: #2ea8e5 !important; }
  
  #bear-toast-container {
    display:block;
    position: fixed;
    z-index: 30000;

    @media #{$small-and-down} {
      min-width: 100%;
      bottom: 0%;
    }
    @media #{$medium-only} {
      left: 5%;
      bottom: 7%;
      max-width: 90%;
    }
    @media #{$large-and-up} {
      top: 10%;
      right: 7%;
      max-width: 86%;
    }

    .toast {
      background-color: $themePink;
      color: #fff;
      font-family: 'Courier', monospace;
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      padding: 5px 20px;
      border-radius: 5px;

      &.success {
        background-color: $themePink;
      }

      &.error {
        background-color: $themePink;
      }
    }
  }


/**
 * This theme is an example to show how you can create your own.
 */
.pika-single.bear-theme {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    border-bottom-color: #999;
    z-index: 99999;
}

.bear-theme .pika-label {
    background-color: #333;
}

.bear-theme .pika-prev,
.bear-theme .is-rtl .pika-next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}

.bear-theme .pika-next,
.bear-theme .is-rtl .pika-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}

.bear-theme .pika-table th {
    color: #999;
}

.bear-theme .pika-button {
    color: #fff;
    background: #222;
}

.bear-theme .pika-week {
    color: #999;
}

.bear-theme .is-today .pika-button {
    color: #33aaff;
}

.bear-theme .is-selected .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
}

.bear-theme .is-disabled .pika-button {
    color: #999;
    opacity: .3;
}

.bear-theme .pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
}
