.bear-login-handle {
	position:fixed;
	top:10px;
	right:10px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;
	//background: $themeBlue;
	display: block;
	color: #fff;
	z-index: 99999;
	outline: none !important;

	i {
		font-size: 14px;
		line-height: 14px;
		vertical-align: middle;
	}
}

