$themeBlue: 	#03a9f4;
$themeBlueDark: #0078aa;
$themePink: 	#f71169;
$themeRed: 		#f44336;

@import "bower_components/Materialize/sass/components/mixins";
@import "bower_components/Materialize/sass/components/color";

// Variables;
@import "bower_components/Materialize/sass/components/variables";

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?skqrwq');
    src:    url('../fonts/icomoon.eot?skqrwq#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?skqrwq') format('truetype'),
        url('../fonts/icomoon.woff?skqrwq') format('woff'),
        url('../fonts/icomoon.svg?skqrwq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bear-container
{
	@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
	@import "_materialize";
	@import "_public";
	@import "_overlay";
	@import "_form";
	@import "_helpers";
	@import "_sidebar";
	@import "_components";
	@import "_editor";
}

@import "_plugins";

body.has-bear {
	margin-left: 86px;
}

body.has-bear-overlay {
	overflow: hidden !important;
}

.ct-widget.ct-ignition {
	display: none;
}

.ct-widget.ct-inspector {
	z-index: 30000;
	background: $themeBlue;
}

.ct-tool {
	&--heading1:before        { content: "H1"; font-weight: normal; font-family: Arial, sans-serif; font-size: 14px; }
}
.ct-tool {
	&--heading2:before        { content: "H2"; font-weight: normal; font-family: Arial, sans-serif; font-size: 14px; }
}
.ct-tool {
	&--heading3:before        { content: "H3"; font-weight: normal; font-family: Arial, sans-serif; font-size: 14px; }
}
.ct-tool {
	&--align-justify:before   { 
		font-family: 'icomoon' !important;
	    speak: none;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;

	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    content: "\e906";
	}
}

.lean-overlay {
    position: fixed;
    z-index:999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;

    will-change: opacity;
}